<p-table [value]="aArtikelen | async" selectionMode="single" [(selection)]="aArtikel" dataKey="_id">
  <ng-template pTemplate="header" let-columns>
    <tr>
          <th>
            Naam
          </th>
          <th>
            Prijs
          </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData>
      <tr [pSelectableRow]="rowData">
          <td>
            {{rowData.sNaam}}
          </td>
          <td>
            {{rowData.iPrijs}}
          </td>
      </tr>
  </ng-template>
</p-table>